*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
header{
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  padding: 33px 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(245.59deg, #4d9559 0%, #38703d 28.53%, #133917 75.52%);
  z-index: 1000;
}

body{
  background: linear-gradient(245.59deg, #4d9559 0%, #38703d 28.53%, #133917 75.52%);
}
.logo{
  font-size: 55px;
  font-weight: 700;
  color: white;


}
.navlist{
  display: flex;
}
.navlist a{

  color: white;
  margin-left: 60px;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all .55s ease;

}
.navlist a:hover{
  border-bottom: 2px solid white;

}
#menu-icon{
  color: white;
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
.hire{
  text-decoration: none;

}
.cvdown{
  text-decoration: none;
}
ul{
  list-style-type: none;
}
.article{
  height: 100%;
  width: 100%;
  min-height: 100vh ;
  /*background: linear-gradient(245.59deg, #4d9559 0%, #38703d 28.53%, #133917 75.52%);*/
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;

}
section{
  padding: 0 16%;
}

.article-text h1{
  font-size: 25px;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
}
.article-text h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  line-height: 1;
  color: white;
  margin: 0 0 45px;
}
.article-text p{
    font-size: 18px;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
}

.main-image{
  width: 297px;
  padding: 0 20%;
  height: auto;

}
.main-image img{
  border-radius: 12%;
}
.main-image img:hover{
  opacity: .8;
}
.article-text a{
  display: inline-block;
  color: white;
  background: #4d9559;
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all .55s ease;
  font-family: 'Poppins', cursive;
}

.article-text a:hover{
  background: transparent;
  border: 1px solid white;
  transform: translateX(8px);
}
.article-text a.cvdown{
  background: transparent;
  border: 1px solid white;
  margin-left: 10px;
}
.article-text a.cvdown i{
  vertical-align: middle;
  margin-right: 5px;
}
.scroll-down h3{
  position: absolute;
  top: 69%;
  padding: 0 9%;
  transform: translateY(-50%);
}
.icons{
  position: absolute;
  top: 78%;
  padding: 0 9%;
  transform: translateY(-50%);
}
.icons i{
  display:  inline-table;
  margin-right: 20px;
  font-size: 40px;
  color: white;
  transition: all .50s ease;
  size: 45px;

}
.icons i:hover{
  color: #4d9559;
  transform: translateX(5px);
}
@media (max-width: 1535px) {
  header {
    padding: 15px 3%;
    transition: .2s;
  }

  .icons {
    padding: 0 3%;
    transition: .2s;
  }

}
@media (max-width: 1460px){
  section{
    padding: 0 12%;
    transition: .2s;
  }

}
@media (max-width: 1340px) {
  .main-image img {
    width: 100%;
    height: auto;
  }

  .article-text h1 {
    font-size: 75px;
    margin: 0 0 30px;
  }

  .article-text h2 {
    margin-bottom: 25px;
  }

  @media (max-width: 1195px) {
    section {
      padding: 0 3%;
      transition: .2s;
    }

    .article-text {
      padding-top: 115px;

    }

    .main-image {
      text-align: center;
    }

    .main-image img {
      width: 560px;
      height: auto;
    }

    .main {
      height: 100%;
      gap: 1rem;
      grid-template-columns: 1fr;
    }

    .icons {
      display: none;
    }

    .scroll-down {
      display: none;
    }
  }
  @media (max-width: 990px) {
    #menu-icon {
      display: block;
    }

    .navlist {
      position: absolute;
      top: 100%;
      right: -100%;
      width: 300px;
      height: 40vh;
      background: #4d9559;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 50px 20px;
      transition: all .55s ease;
    }

    .navlist a {
      margin-left: 0;
      display: block;
      margin: 7px 0;
    }

    .navlist.open {
      right: 0;

    }
  }
  @media (max-width: 680px) {
    .main-image img {
      width: 100%;
      height: auto;
    }
  }
}
.about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 6rem;

}
.heading{
  font-size: 3.2rem;
  margin-bottom: 3rem;
  text-align: center;
  color: white;
  font-family: 'Permanent Marker', cursive;
}
span{
  font-family: 'Permanent Marker', cursive;
  color: #4d9559;
}
.about-img{
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-img img{
  width: 90%;
  border-radius: 50%;
  border: .2rem solid #4d9559;
}
.about-img .circle-spin{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: .2rem solid transparent;
  border-bottom: .2rem solid transparent;
  border-left: .2rem solid #4d9559;
  border-right: .2rem solid #4d9559;
}
.about-content{
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  color: white;

}
.about-content h3 {
  font-size: 2.5rem;
  font-family: 'Rufina', serif;
  color: black;
}
.about-content a{
  color: white;
  text-decoration: underline;
}

.grid-container {
  display: grid;
  column-gap: 70px;
  grid-template-columns: auto auto;
  row-gap: 20px;

}
.grid-item {
  font-size: 29px;
  /*font-family: 'VT323', monospace;*/
  font-family: 'Rufina', serif;
  text-align: left;
  color: white;

}
.grid-item:hover{
  opacity: .5;
}
.btns a {
  display: inline-block;
  color: white;
  background: #4d9559;
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all .55s ease;
  font-family: 'Poppins', cursive;
  margin-left: 500px;
}

.btns a:hover{
  background: transparent;
  border: 1px solid white;
  transform: translateX(8px);
}
.btns a.cvdown{
  background: transparent;
  border: 1px solid white;
  margin-left: 10px;
}
.btns a.cvdown i{
  vertical-align: middle;
  margin-right: 5px;
}

.education{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;

}
.education .education-row{
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}
.education-row .education-column{
  flex: 1 1 40rem;
}

.education-column .title{
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;
  font-family: 'Rufina', serif;

}
.education-column .education-box {
  border-left: .2rem solid #4d9559;
}
.education-box .education-content {
  position: relative;
  padding-left: 2rem;
}
.education-box .education-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1.1rem;
  width: 2rem;
  height: 2rem;
  background: #4d9559;
  border-radius: 50%;
}

.education-content .content{
  position: relative;
  padding: 1.5rem;
  border: .2rem solid #4d9559;
  border-radius: .6rem;
  margin-bottom: 2rem;
  color: white;
  overflow: hidden;

}
.education-content .content::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #738678;
  z-index: -1;
  transition: .5s;

}
.education-content .content:hover::before{
  width: 100%;

}

.education-content .content .year{
  font-size: 1.3rem;
  color: #4d9559;
  padding-bottom: .5rem;

}
.education-content .content .year i{
  padding-right: .5rem;
}

.education-content .content h3{
  font-size: 1.5rem;

}

.education-content .content p{
  font-size: 18px;
  padding-top: .5rem;
  font-family: 'Rufina', serif;
}
.skills{
  min-height: auto;
  padding-bottom: 7rem;
  background: transparent;

}
.skills .skills-row{
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;


}

.skills-row .skills-column{
  flex: 1 1 40rem;


}
.skills-column .title{
  font-size: 2rem;
  margin: 0 0 1.5rem;
  font-family: 'Rufina', serif;

}
.skills-box .skills-content{
  position: relative;
  border: .2rem solid #4d9559;
  border-radius: .6rem;
  padding: .5rem 1.5rem;
  z-index: 1;
  overflow: hidden;

}

.skills-box .skills-content::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #738678;
  z-index: -1;
  transition: .5s;
}

.skills-box .skills-content:hover::before{
  width: 100%;

}

.skills-content .progress{
  padding: 1rem 0;


}

.skills-content .progress h3 {
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: 'Rufina', serif;
}
.skills-content .progress h3 span{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
}
.skills-content .progress .bar{
  height: 2.5rem;
  border: .6rem;
  border: .2rem solid #4d9559;
  padding: .5rem;
  margin: 1rem 0;
}

.skills-content .progress .bar span {
  display: block;
  height: 100%;
  border-radius: .3rem;
  background: #4d9559;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
  width: 90%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
  width: 50%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
  width: 70%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
  width: 20%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span{
  width: 60%;
}


.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
  width: 10%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
  width: 20%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
  width: 30%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
  width: 40%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(5) .bar span{
  width: 20%;
}

.contact{
  min-height: auto;
  padding-bottom: 7rem;

}

.contact form{
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
}

.contact form .input-box{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box .input-field{
  position: relative;
  width: 49%;
  margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  color: white;
  background: transparent;
  border-radius: .6rem;
  border: .3rem solid #4d9559;
}

.contact form .focus{
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #738678;
  border-radius: .6rem;
  z-index: -1;
  transition: .5s;
}

 .contact form .input-box .input-field input:focus~.focus,
 .contact form .input-box .input-field input:valid~.focus,
 .contact form .textarea-field textarea:focus~.focus,
 .contact form .textarea-field textarea:valid~.focus{
   width: 100%;
 }


.contact form .btn {

  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 4rem;
  background: #4d9559;
  border: .2rem solid #4d9559;
  border-radius: .8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: .1rem;
  color: white;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  color: white;
  background: transparent;
  border: 2px solid white;
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 25px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all .55s ease;
  font-family: 'Dancing Script', cursive;
  cursor: pointer;
}

.contact form .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #738678;
  z-index: -1;
  transition: .5s;

}

.contact form .btn:hover::before {
  width: 100%;

}


.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {

  color: white;
  font-family: 'Rufina', serif;
}

.contact form .textarea-field{
  position: relative;
  margin: .5rem 0 2.7rem;
  display: flex;

}

.contact form .textarea-field textarea{
  resize: none;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: forestgreen;
}

.footer-text p{
  font-size: 1.3rem;
  font-family: 'Rufina', serif;
}

.footer-iconTop a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background: forestgreen;
  border: .2rem solid white;
  border-radius: .6rem;
  z-index: 1;
  overflow: hidden;

}
.footer-iconTop a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: yellowgreen;
  z-index: -1;
  transition: .5s;
}
.footer-iconTop a:hover::before {
  width: 100%;
}

.footer-iconTop a i {
  font-size: 1.8rem;
  color: black;
  transition: .5s;
}

.footer-iconTop a:hover i{
  color: black;
}

