body{
    background: url("../images/grunge-paint-background_1409-1337.jpg");
    background-size: cover;
}

section.abcOD{
    width: 1400px;
    height: 600px;
    background-color: #eeeeee;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

section.abcOD>main>h1{
    background-color: #00E8BA;
    color: #ff253a;
    font-family: Algerian;
}